<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/views/style">
</head>

<header>
    <nav class="navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" backgroundcolor = "#e94b3b/">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="http://mobilab.prefeitura.sp.gov.br/wp-content/uploads/2015/09/cropped-logo-mobilab1-32x32.png" height="32" width="32">
                </a>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Página Inicial</a></li>
                    <li class="active"><a href="/vistoriasRealizadas">Vistorias Realizadas</a></li>
                    <li><a href="/veiculosLacrados"> Veículos Lacrados</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
  <h2>Vistorias Realizadas</h2>          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Data</th>
        <th>ID do Veículo</th>
        <th>Status da Vistoria</th>
        <th>Motivo
        <th>Ficha</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < lacre.length; i++) { %>
   <tr>
     <td><%= lacre[i].data %></td>
     <td><%= lacre[i].id %></td>
     <td><%= lacre[i].status %></td>
     <td><%= lacre[i].motivo %></td> 
     <td>
        <%= lacre[i].ficha %>
        <button type="button" class="btn btn-success" id="ficha">Ver Ficha</button>
    </td>
   </tr>
<% } %>
    </tbody>
  </table>
</div>

</body>
</html>

<script type="text/javascript">
            document.getElementById("ficha").onclick = function () {
            location.href = "/ficha";
                };
</script>